body {
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
    120deg,
    #0b2d77 20%,
    #7213ba 40%,
    #bb8624 70%,
    #650a16 90%
  );
  background-size: 800% 800%;
  animation: gradientMove 10s ease-in-out infinite alternate;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#container {
  background: linear-gradient(120deg, #041842 20%, #650a16 50%);
  height: 32rem;
  width: 30rem;
  border-radius: 12px;
  border: solid 1px rgba(127, 255, 212, 0.399);
  padding: 1.5rem;
}

#heading {
  margin-top: 5px;
  text-align: center;
  color: #bb86fc;
}

#passgen,
#pingen {
  display: block;
  padding-left: 2rem;
  color: #03dac6;
}

.sprt1 {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 20px;
  background: linear-gradient(69deg, #848da064 20%, #140a6192 50%);
  height: 13rem;
  width: 26rem;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  transition: transform 0.3s ease-in-out;
}

.sprt2 {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 20px;
  background: linear-gradient(169deg, #7213ba64 30%, #8d4d1f83 60%);
  height: 13rem;
  width: 26rem;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  transition: transform 0.3s ease-in-out;
}

.sprt1:hover,
.sprt2:hover {
  animation: ease-in-out 2s;
  transform: scale(1.03);
}

.inp1,
.inp4 {
  background: linear-gradient(120deg, #7c3fa499 30%, #ba7f558d 60%);
  border: solid 2px #03dac6;
  border-radius: 5px;
  color: #000000;
  font-weight: 800;
  transition: transform 0.3s ease-in-out;
}

.inp2,
.inp5 {
  background: linear-gradient(130deg, #54bba7 40%, #932929 80%);
  border-radius: 5px;
  width: 2rem;
  color: #000000;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.inp1:hover,
.inp2:hover,
.inp4:hover,
.inp5:hover {
  animation: ease-in-out 2s;
  transform: scale(1.01);
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #00ff99;
  cursor: pointer;
  margin-right: 8px;
}

label {
  color: #fff;
  font-size: 1rem;
  margin-right: 20px;
  cursor: pointer;
}

.lng {
  color: #c1b9b9;
}

.btn1,
.btn2,
.copy {
  border-radius: 10px;
  border: solid;
  border-color: rgb(188, 17, 37);
  background: linear-gradient(160deg, #1b98a9 30%, #9eaf1d 80%);
  color: rgb(0, 0, 0);
  transition: transform 0.4s ease-in-out;
}

.btn1:hover,
.btn2:hover,
.copy:hover {
  animation: ease-in 5s;
  transform: scale(1.1);
}

#options {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #8ba6c7;
  justify-content: center;
}

.placeholder-black::placeholder {
  color: #ffffff;
}

.placeholder-black::-webkit-input-placeholder {
  color: #ffffff;
}

#btns {
  display: flex;
  gap: 10px;
}
label {
  font-size: 10px;
}
#container {
  box-shadow: 0 0 25px rgba(0, 255, 200, 0.2);
}

button {
  cursor: pointer;
}

@media (max-width: 600px) {
  #container {
    width: 90%;
    height: auto;
  }
  .sprt1,
  .sprt2 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
